name: Deploy Main Portfolio

on:
  push:
    branches: ["main"]
  # Optimization: This workflow will NOT run if you only push changes to the blog folder.
    paths-ignore:
    - 'blog/**'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "github-pages"
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy Portfolio Website (naol.dev)
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout the repository source code
      - name: Checkout Repository
        uses: actions/checkout@v4

      # 2. Setup Pages (No build step is needed for your static portfolio)
      - name: Setup Pages
        uses: actions/configure-pages@v5

      # 3. Upload the portfolio artifact. This uploads the root of your repo.
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      # 4. Deploy the artifact to GitHub Pages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
